#checkin-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.checkIn-title {
  margin-top: 7.81rem;
  margin-bottom: 4.06rem;

  span {
    font-size:  2rem;
    font-weight: 800;
    letter-spacing: 0.19688rem;
  }
}

.checkin-button-box {
  margin: 0 auto;
  padding-top: 1.19rem;
  padding-bottom: 0.38rem;
  width: 80%;
  height: 20.6875rem;

  .select-box {
    width: 100%;
    height: 9.5625rem;

    .select-box-title {
      border-bottom: 1px solid #000;
      text-align: left;
      padding-bottom: 0.56rem;
      
      span {
        font-size: 1.5625rem;
        font-weight: 700;
        line-height: 80%;
        padding-left: 0.44rem;
      }
      
      .highlight {
        color: #D90026;
      }
    }
  }
  
  .gender-select {
    .gender-button {
      display: flex;
      justify-content: space-around;
      margin-top: 1.13rem;
      width: 100%;
      height: 5.3125rem;

      button {
        width: 30%;
        height: 4rem;
        border: 1px solid #000;
        border-radius: 0.625rem;
        background-color: #fff;

        img {
          justify-content: center;
        }
      }

      .selected {
        background-color: #87DEFF;
      }
    }
  }
}

.input-group {
  margin-top: 2.06rem;
  transition: all 300ms ease;

  .button-minus, .button-plus {
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 0.3125rem;

    margin: 0;
    width: 2.5rem;
    height: 2.5rem;

    text-align: center;
    font-weight: 700;
    font-size: 1rem ;
    padding: 0;

    input {
      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }

  .quantity-field {
    margin: 0 0 0.5rem;
    width: 12.7rem;
    height: 2.5rem;
    border: none;
    text-align: center;

    color: #000;
    font-family: 'Pretendard', sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
  }
}

.self-introduce-content {
  margin: 0 4.31rem;

  .self-introduce-title {
    text-align: start;

    span {
      font-size: 1.625rem;
      font-weight: 700;
    }
  }

  textarea {
    border: 1px solid #e4e4e4;
  }
}

.film-agree {
  margin: 2.13rem 4.31rem;

  .film-agree-title {
    text-align: start;

    span {
      font-size: 1.625rem;
      font-weight: 700;
    }
  }

  .film-agree-content {
    margin-top: 0.75rem;
    padding: 0.63rem 1.31rem 0.56rem;
    height: 8.5rem;
    overflow: scroll;
    text-align: start;
    border: 1px solid #e4e4e4;
  }

  .agree-checkbox {
    float: right;
    margin-top: 0.55rem;

    label {
      margin-top: ;
    }
  }
}