#wrapper {
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 6.25rem;
}

header {
  height: 10rem;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;

  height: 50%;
  background-color: #fff;
  padding: 1.25rem 2.5rem;

  img {
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
  }
  span {
    color: #3F4244;
    font-size: 1.875rem;
    font-weight: 700;
  }
}
#sub-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 50%;
  justify-content: center;

  .sub-buttons {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;

    button {
      width: 100%;
      height: 100%;
      border: 0;
      background-color: #fff;
      color: #3F4244;
      text-align: center;
      font-family: 'Pretendard', sans-serif;
      font-size: 1.5625rem;
      font-weight: 500;

      border-bottom: 5px solid #e8e8e8;

      &:hover {
        font-size: 1.875rem;
        border-bottom-color: #87DEFF;
      }
    }
  }
  .leftover-heart {
    border-bottom: 5px solid #e8e8e8;
  }
  .leftover-time    {
    border-bottom: 5px solid #e8e8e8;

  }
}

#container {
  background-color: #f0f0f0;
}

footer {
  background-color:#87DEFF;
  height: 6.25rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    border: 0;
    background-color: transparent;
 
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
  }
}
