<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEBA</title>
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/checkIn.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
</head>
<body>
  < id="checkin-wrap">
    <div class="checkIn-title">
      <span>Update Your Profile</span>
    </div>
    <div class="checkin-button-box">
      <div class="select-box gender-select">
        <div class="select-box-title">
          <span class="highlight">*</span>
          <span>성별</span>
        </div>
        <div class="gender-button">
          <button class="custom-radio-button male-button" data-name="male">
            <img style="width: 2.125rem; height: 2.8125rem;" src="/static/images/male.png">
          </button>
          <button class="custom-radio-button female-button" data-name="female">
            <img style="width: 2.625rem; height: 2.625rem;" src="/static/images/female.png">
          </button>
          <button class="custom-radio-button mixed-button" data-name="mixed">
            <img style="width: 5rem; height: 2rem;" src="/static/images/mixed.png">
          </button>
        </div>
      </div>
      <div class="select-box head-select">
        <div class="select-box-title">
          <span class="highlight">*</span>
          <span>인원 수</span>
        </div>
        <div class="input-group">
          <input type="button" value="-" class="button-minus" data-field="quantity">
          <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
          <input type="button" value="+" class="button-plus" data-field="quantity">
        </div>
      </div>
    </div>  
    <div class="self-introduce-content">
      <div class="self-introduce-title">
        <span>한 줄 소개(선택 사항)</span>
      </div>
      <textarea name="introduce" cols="42" rows="2"></textarea>
    </div>
    <div class="film-agree">
      <div class="film-agree-title">
        <span>촬영 동의서 (선택 사항)</span>
      </div>
      <div class="film-agree-content">
        <h4>저희 주점에 오신 것을 환영합니다!</h4><br>
        안녕하세요 먼저 저희 바른생각 바른주점에 찾아와 주신 모든 분들께 감사드립니다. <br><br>
        다름이 아니라, 저희 주점에서 미디어 홍보 자료 제작을 위해 촬영을 진행하고자 합니다. <br>
        촬영에 동의하시는 테이블에는 ~~의 혜택을 드리고 있으니, 괜찮으시다면 동의 체크박스를 눌러주세요! <br><br>
        저희 주점에서 즐거운 추억 많이 만들어 가시길 바랍니다.<br>
        감사합니다. 
      </div>
      <div class="agree-checkbox">
        <input type="checkbox" id="agree" name="agree">
        <label for="agree">Agree</label>
      </div>
    </div>
    <input type="submit">Submit</input>
  </div>
  <script src="/static/script.js"></script>
</body>
</html> 