<!DOCTYPE html>
<html lang="ko ">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HEBA</title>
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/landing.css">
</head>
<body>
  <div class="home-wrap">
    <div class="home-title">
      <span>바른생각<br>바른주점</span>
    </div>
    <div class="home-subtitle">
      <span>당신의 운명을 찾아보세요.</span>
    </div>
    <div class="home-button-container">
      <button class="link-sicpama">
        <div class="home-button-title">
          <span>주문하기</span>
        </div>
        <img src="/static/images/order.png">
      </button>
      <button class="link-HEBA" onclick="location.href = 'main.html'">
        <div class="home-button-title">
          <span>헌팅하기</span>
        </div>
        <img src="/static/images/hunt.png">
      </button>
    </div>
  </div>
</body>
</html>