<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEBA</title>
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <div id="wrapper">
    <header>
      <nav>
        <a class="home" href="/">
          <img class="home" src="/static/images/home.svg">
        </a>
        <span>Table 4</span>
        <!-- 추후 알림창은 모달로 작업 -->
        <a class="alarm" href="/">       
          <img src="/static/images/alarm.svg">
        </a> 
      </nav>
      <div id="sub-nav">
        <div class="sub-buttons">
          <button class="all">전체</button>
        </div>
        <div class="sub-buttons">
          <button class="female">여자만</button>
        </div>
        <div class="sub-buttons">
          <button class="male">남자만</button>
        </div>
        <div class="sub-buttons leftover-heart">
          <img src="/static/images/heart.svg">
        </div>
        <div class="sub-buttons  leftover-time">
          
        </div>
      </div>
    </header>
    <main id="container">
    </main>
    <footer>
      <button class="call-server">직원호출</button>
      <button class="charge-heart">하트충전</button>
      <button class="order">주문하기</button>
      <button class="mypage">마이페이지</button>
    </footer>
  </div>
</body>
</html>